#OpenAI Connection Data
AZURE_OPENAI_ENDPOINT = "https://dummy-endpoint.openai.azure.com/"
AZURE_OPENAI_API_KEY = "dummy-api-key"
AZURE_OPENAI_DEPLOYMENT_NAME = "dummy-deployment-name"
AZURE_OPENAI_DEPLOYMENT_NAME_MINI = "dummy-deployment-name-mini"
AZURE_OPENAI_API_VERSION = "2024-02-01"

AZURE_AI_SEARCH_ENDPOINT = "https://dummy-search-endpoint.search.windows.net"
AZURE_AI_SEARCH_INDEX = "dummy-index"
AZURE_AI_SEARCH_API_KEY = "dummy-search-api-key"

#ADSL Gen2 Connection Data
AZURE_STORAGE_ACCOUNT_NAME = "dummyname"
AZURE_STORAGE_ACCOUNT_KEY = "..."
AZURE_STORAGE_ACCOUNT_CONNECTION_STRING = "DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...==;EndpointSuffix=core.windows.net"
